$base: 5px;
$dayBase: 30px;
$white: #fff;
$blue: blue;
$close: #e1e1e1;
$black: black;
$dayBase: 30px;
$border: #c2c2c2;
$active: #fcc6c6;
$task-bg: #2093ff7d;
$task-border: #2093ff7d;
$inactive-days: #c4c2c2;
$dark-gey: rgba(0, 0, 0, 0.39);
